/*
dough = #E1D7BC
brown = #75582E
green = #53C152
red = #C13E31
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
    font-family: 'Roboto', sans-serif!important;
}

.main-ad {
    font-size: 15vw;
    line-height: 1vw;
}

#main-ad-new {
    font-weight: 500;
}

#main-ad-store {
    font-weight: 300;
}

#main-ad-now {
    font-weight: 700;
    font-style: italic;
}

#main-ad-open {
    font-weight: 500;
}

#logo {
    width: 20%;
}

#main-nav {
    width: 70%;
    float: right;
}

.width-960 {
    max-width: 960px;
    margin: 0 auto;
}

.width-720 {
    max-width: 720px;
    margin: 0 auto;
}

.width-560 {
    max-width: 560px;
    margin: 0 auto;
}

.width-half {
    width: 50%;
}
.width-3-4 {
    width: 75%;
}

#address {
    text-align: right;
    font-size: 1.2rem;
    padding: 1vw;
}

.weather-api {
    font-size: 0.8rem;
    text-align: right;
}

.ui-input-text {
    margin-bottom: 25px;
}

.menu-item-container {
    border: 1px solid black;
    border-radius: 0.7vw;
    flex: 1 1 160px;
    margin: 0.3vw;
}

.sides-container {
    flex: 1 1 200px;
}

.menu-item-heading {
    text-align: center;
}

.pizza-img {
    max-width: 100%;
}

.pizza-size-selector {
    margin: 0 auto!important;
    width: 100%!important;
    border: 1px solid black;
}

.quantity-flex-container {
    display: flex;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.pizza-minus-button, .pizza-plus-button {
    border-radius: 0!important;
    width: 30%!important;
}

.pizza-qty { 
    text-align: center!important; 
}


