<div data-role="header" id"header">
    {{ dump(app.session.all) }}
    <script>
        //converts api temp data to celsius from kelvin
        function kelvinToCelsius(kelvin) {
            return Math.floor(kelvin - 273.15); //formula found at https://www.rapidtables.com/convert/temperature/how-kelvin-to-celsius.html
        }
        
        //get json formatted weather data
        function getWeather() {
            $.get("http://api.openweathermap.org/data/2.5/weather?id=2960991&APPID=f1d47ac3f8157b5ab779e014691aa36b")
            .done(function(data) {
                //append into html div tag
                $(".weather-api").html("<p>Waterford Weather: " + 
                    data.weather[0].main + ", Temp: " + kelvinToCelsius(data.main.temp) + 
            "&deg;C</p>");
            });
        }

        getWeather(); 
        
        //reload checkout page to show cart from session
        $("a[href='#checkout']").click(function() {
            window.location ="/index#checkout";
            location.reload();
        });

    </script>
    <div class="width-960">
        <div class="weather-api">
        </div>
        <a href="#home" data-transition="fade"><img src="{{asset('assets/images/logo-green.svg')}}" id="logo" alt="NY Pizza Logo"></a>
        <div data-role="navbar" id="main-nav">
            <ul>
                <li><a href="#menu" data-transition="fade">Menu</a></li>
                <!--<li><a href="#register" data-transition="fade">Register</a></li> -->
                <li><a href="#login" data-transition="fade">Login</a></li>
                <li><a href="#manager" data-transition="fade">Manager</a></li>
                <li><a href="#logout" data-transition="fade" id="logout">Logout</a></li>
                <li><a href="#checkout" data-transition="fade">Checkout</a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /navbar container -->
</div><!-- /header -->