<div data-role="header">
    <script>
        $.get("api.openweathermap.org/data/2.5/weather?id=2960991&APPID=f1d47ac3f8157b5ab779e014691aa36b")
        .done(function(data) {
            alert(data);
        })
    </script>
        
    <div data-role="navbar">
        <ul>
            <li><a href="#menu" data-transition="slide">Menu</a></li>
            <li><a href="#register" data-transition="slide">Register</a></li>
            <li><a href="#login" data-transition="slide">Login</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /header -->