<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NY Pizza</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="{{asset('assets/themes/my-theme.min.css')}}" />
    <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}" /> {#loads assets such as css and js from public folder#}
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <!-- Start of first page: #one -->
    <div data-role="page" id="main">
        {% include 'header.html.twig' %}
        <div data-role="main" class="ui-content">
            <div class="width-960">
                <h1 class="main-ad" id="main-ad-new">NEW</h1>
                <h1 class="main-ad" id="main-ad-store">STORE</h1>
                <h1 class="main-ad" id="main-ad-now">NOW</h1>
                <h1 class="main-ad" id="main-ad-open">OPEN</h1>
            </div>            
        </div> 
        <div data-role="main" class="ui-content">
            <div class="width-960 ui-grid-a">
                <div class="ui-block-a">
                    <p id="address">
                        127 Delicious Street<br>
                        Tasty Town<br>
                        Waterford City<br>
                        Ireland<br>
                        <br>
                        <a href="tel:0035351875432">+353 51 875432</a>
                    </p>
                </div>
                <iframe class="ui-block-b" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78185.27297987707!2d-7.180868291784324!3d52.23812000037038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c6aa3dbbb39f%3A0x5c5394616bfdc1ac!2sWaterford+City%2C+Co.+Waterford!5e0!3m2!1sen!2sie!4v1553505960973" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            
        </div>           
        {% include 'footer.html.twig' %}         
    </div><!-- /page one -->
    
    <!-- Start of second page: #two -->
    <div data-role="page" id="two" data-theme="a">
    
        <div data-role="header">
            <h1>Two</h1>
        </div><!-- /header -->
    
        <div role="main" class="ui-content">
            <h2>Two</h2>
            <p>I have an id of "two" on my page container. I'm the second page container in this multi-page template.</p>
            <p>Notice that the theme is different for this page because we've added a few <code>data-theme</code> swatch assigments here to show off how flexible it is. You can add any content or widget to these pages, but we're keeping these simple.</p>
            <p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to page "one"</a></p>
    
        </div><!-- /content -->
    
        <div data-role="footer">
            <h4>Page Footer</h4>
        </div><!-- /footer -->
    </div><!-- /page two -->
    
    <!-- Start of third page: #popup -->
    <div data-role="page" id="popup">
    
        <div data-role="header" data-theme="b">
            <h1>Dialog</h1>
        </div><!-- /header -->
    
        <div role="main" class="ui-content">
            <h2>Popup</h2>
            <p>I have an id of "popup" on my page container and only look like a dialog because the link to me had a <code>data-rel="dialog"</code> attribute which gives me this inset look and a <code>data-transition="pop"</code> attribute to change the transition to pop. Without this, I'd be styled as a normal page.</p>
            <p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to page "one"</a></p>
        </div><!-- /content -->
    
        <div data-role="footer">
            <h4>Page Footer</h4>
        </div><!-- /footer -->
    </div><!-- /page popup -->
    
    
    
    <div data-role="page" id="login" data-theme="a">
    <div data-role="header">
            <h1>Login page</h1>
        </div><!-- /header -->
    
         <div role="main" class="ui-content">
            <h2>Login</h2>
           Username <input type="text" name="login_username" id="login_username" value="">
           Password <input type="text" name="login_pass" id="login_pass" value="">
            <button class="ui-btn" id="loginButton">Submit</button>
            
            
            
        </div><!-- /content -->
    
    
    </div>
    
    
    <div data-role="page" id="driver" data-theme="a">
    
           <div data-role="header">
            <h1>Driver</h1>
          </div><!-- /header -->
    
          <div role="main" class="ui-content">
        
    
    
        </div><!-- /content -->
    </div>
    
    <div data-role="page" id="register" data-theme="a">
    
           <div data-role="header">
            <h1>Register</h1>
          </div><!-- /header -->
    
          <div role="main" class="ui-content">
            <h2>Register</h2>
            
           Username <input type="text" name="username" id="username" value="">
           Password <input type="text" name="pass" id="pass" value="">
            AccType <input type="text" name="acctype" id="acctype" value="">
           <button class="ui-btn" id="registerButton">Submit</button>
    
    
        </div><!-- /content -->
    </div>
    </body>
    
    <script>
    
    
    $( "#loginButton" ).click(function() {
      
          var un = $( "#login_username" ).val();
          console.log(un);
          
          var pw = $( "#login_pass" ).val();
          console.log(pw);
          
    
          
          
          $.post( "/backend", { type: "login", username:un, password:pw})
         .done(function( data ) {
            alert( "Data Loaded: " + data );
            
            
            if(data == 'customer'){
                window.location="/index#customer";
            }
            else if(data == 'driver'){
                window.location="/index#driver";
            }        
            
           });
      
      
      
      //alert( "register button pressed!" );
      
      
    });
    
    $( "#registerButton" ).click(function() {
      
          var un = $( "#username" ).val();
          console.log(un);
          
          var pw = $( "#pass" ).val();
          console.log(pw);
          
          var at = $( "#acctype" ).val();
          console.log(acctype);
          
          
          
          $.post( "/backend", { type: "register", username:un, password:pw, acctype:at})
         .done(function( data ) {
            alert( "Data Loaded: " + data );
           });
      
      
      
      //alert( "register button pressed!" );
      
      
    });
    
    </script>
</html>
    
